// Button with a 'X' icon
.close-btn {
    --__w: .8rem;
    appearance: none;
    border: none;
    width: var(--__w);
    aspect-ratio: 1;
    background-color: rgb(255 255 255 / .25);
    border-radius: calc(var(--__w)/2);
    display: grid;
    color: rgb(0 0 0 / .6);
    place-content: center;
    transition: background-color var(--anim-dur) linear,
            color var(--anim-dur) linear;
    cursor: pointer;

    &:hover {
        color: rgb(0 0 0 );
        background-color: rgb(255 255 255 / .75);
    }
  }