.agf-colorinput {
    --highlight-size: 0;

    // ----------------------------- Layout
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem; // distance between Swith & Label
    line-height: 1;

    & input[type="color"] {
        --w: 1.5rem;
        --bdr-rad: .35rem;
        width: var(--w);
        height: var(--w);

        appearance: none;
        cursor: pointer;
        border: 0;
        border-radius: var(--bdr-rad);
        background-color: transparent;
        box-shadow: 0 0 0 var(--highlight-size) var(--clr-highlight);
        transition: box-shadow var(--anim-dur) var(--anim-fn);
        position: relative;

        &::-webkit-color-swatch-wrapper {
            padding: 0;
        }

        &::-webkit-color-swatch {
            border: 0;
            border-radius: var(--bdr-rad);
        }

        &::-moz-color-swatch {
            border: 0;
            border-radius: var(--bdr-rad);
        }

        &:not(:disabled):hover {
            --highlight-size: 4px;
        }

        &::after{
            position: absolute;
            content: '';
            inset: 0;
            border-radius: var(--bdr-rad);
            box-shadow: 0 0 .3rem hsl(0 0% 0% / 0.3) inset;
        }
    }
}