@use '../functions';

.btn-icon {
    --__w: 2.5rem;
    position: relative;

    & button {
        @include functions.button-reset;

        width: var(--__w);
        height: var(--__w);
        border-radius: calc(var(--__w) / 2);
        padding: 0;
        display: grid;
        place-content: center;
        color: var(--clr-active);
        background: var(--clr-active-50);
        box-shadow: 0 0 0 0 var(--clr-outline);
        transition: box-shadow .25s ease-in-out;

        &:hover {
            box-shadow: 0 0 0 4px var(--clr-outline);
        }
    }

    & svg {
        width: calc(var(--__w) *3/5);
        height: calc(var(--__w) *3/5);
    }
}