@use '../functions';

.btn-icon {
    --__w: 2.5rem;
    position: relative;

    & button {
        @include functions.button-reset;

        width: var(--__w);
        height: var(--__w);
        border-radius: calc(var(--__w) / 2);
        padding: 0;
        display: grid;
        place-content: center;
        color: var(--clr-active);
        background: var(--clr-active-50);
        box-shadow: 0 0 0 0 var(--clr-outline);
        transition: box-shadow .25s ease-in-out;

        &:hover {
            box-shadow: 0 0 0 4px var(--clr-outline); //var(--clr-highlight);

            &+span {
                box-shadow:
                    inset 0 -1px 0.5px rgb(0 0 0 / .25),
                    inset 0 1px 0.5px hsl(0 0% 100% / .5),
                    0 0.25em 1em rgb(0 0 0 /0.25);
                translate: -50% calc(100% + 1.2em);
                opacity: 1;
            }
        }
    }

    & svg {
        width: calc(var(--__w) *3/5);
        height: calc(var(--__w) *3/5);
    }

    &[class*='anim-icon']>button {
        &[class*='anim-icon']>button {
            --path-length: 23;
            animation: anim .5s linear backwards !important;
        }
    }


    @keyframes anim {
        0% {
            background-color: #fff;
            stroke-dasharray: 0 var(--path-length);
        }

        60% {
            stroke-dasharray: var(--path-length) var(--path-length);
        }

        90% {
            background-color: yellowgreen;
        }
    }
}