.text-container {
  width: 100%;
  background-color: #fff;
  position: relative;
}

.temoin {
  max-width: 80ch;
  min-height: 6lh;
  max-height: 20rem;
  overflow-y: auto;
  margin-inline: auto;
  line-height: 1.5;
  font-family: var(--tested-font, 'Times New Roman', Times, serif);
  font-size: var(--temoin-fs, 24px);
  text-rendering: optimizeSpeed; // Important ! Somes shiftings without it in Chrome and Safari
  overscroll-behavior-y: contain; // prevent scroll chaining
  scrollbar-gutter: stable both-edges;
  text-wrap: pretty;
  white-space: pre-line;
  position: relative;
  // border: 0;

  &::before,
  &::after {
    position: absolute;
    inset: 0;
    user-select: none;
    pointer-events: none;
  }

  &::before {
    content: attr(data-txt);
    color: var(--fallback-color, red);
    font-family: var(--fallback-family, 'Times New Roman', Times, serif);
    opacity: var(--fallback-opacity, .75);

  }

  &:focus-visible::before {
    // TODO
    // fallback text is not visible while the text is edited
    content: '';
  }

  &:empty::after{
    // pseudo placeholder for when the user wants to edit demo text & the DIV is empty
    content: "Type your text...";
    font-style: italic;
    color: var(--clr-active);
    padding-inline: .125em;
    opacity: .65;
  }
}

.sticker{
  background: hsl(70 84% 10% /.85);
  color: #fff;
  width: 12ch;
  padding: .5em 1em;
  position: absolute;
  left: 0;
  top: 6rem;
  border-top-right-radius: var(--bdr-radius);
  border-bottom-right-radius: var(--bdr-radius);
  filter: drop-shadow(0 0 .25em rgb(0 0 0 / .5));
  z-index: 1;
}