.text-container {
  width: 100%;
  background-color: #fff;
}

.temoin {
  max-width: 80ch;
  min-height: 6lh;
  max-height: 20rem;
  overflow-y: auto;
  margin-inline: auto;
  line-height: 1.5;
  font-family: var(--tested-font, 'Times New Roman', Times, serif);
  font-size: var(--temoin-fs, 24px);
  text-rendering: optimizeSpeed; // Important ! Somes shiftings without it in Chrome and Safari
  overscroll-behavior-y: contain; // prevent scroll chaining
  scrollbar-gutter: stable both-edges;
  text-wrap: pretty;
  white-space: pre-line;
  position: relative;
  // border: 0;

  &::before,
  &::after {
    position: absolute;
    inset: 0;
    user-select: none;
    pointer-events: none;
  }

  &::before {
    content: attr(data-txt);
    color: red;
    font-family: var(--fallback-family);
    opacity: var(--fallback-opacity, .75);
  }

  &:empty::after{
    // pseudo placeholder for when the user wants to edit demo text & the DIV is empty
    content: "Type your text...";
    font-style: italic;
    color: var(--clr-active);
    padding-inline: .125em;
    opacity: .65;
  }
}