@use './form-components/functions';

.select-font {
    --drop-bg: yellowgreen;
    width: 100%;
    background-color: var(--drop-bg);
    border-radius: .5rem;

}

.dropzone {
    --w: 12rem;
    position: relative;

    &:focus-within {
        // react-dropzon add a `tabindex="0"` on the containing DIV, making it focusable
        outline-color: transparent;
        outline-style: none;
        outline-width: 0;
    }

    &>* {
        border-radius: .5rem;
    }

    & .base {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        // padding: 1rem;

        &>div {
            &:nth-of-type(1) {
                display: grid;
                align-items: center;
                justify-content: end;

                background-image: url('/letter.svg');
                background-repeat: no-repeat;
                background-position: max(0%, calc((100% - var(--w))/2)) 50%;
            }

            &:nth-of-type(2) {
                display: grid;
                place-content: center;
            }

            &:nth-of-type(3) {
                display: grid;
                grid-template-columns: auto 8.5rem;
                align-items: center;
                gap: .5rem;
            }
        }
    }


    & .hover {
        position: absolute;
        inset: 0;
        display: none;
        background: var(--drop-bg);
        padding: 1rem;
        color: #fff;

        &.active {
            z-index: 1;
            display: block;
        }

        &.error {
            --drop-bg: orangered;
        }
    }

    & .message {
        --drop-bdr: color-mix(in oklab, var(--drop-bg), #fff 40%);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
        padding: 1rem;
        text-align: center;
        border: 4px dashed var(--drop-bdr, #fff);
        border-radius: .5em;
    }
}


.drop-instructions {
    width: var(--w);
    min-height: var(--w);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    & > span:last-of-type:is(:last-child){
        // reserve vertical space for font-file DIV & prevent layout shift
        margin-block-end: 3rem; // gap + height of fontFile
    }

    & button {
        @include functions.button-reset;

        font-size: 1rem;
        font-weight: 600;

        &.browse {
            padding: .25em .75em;
            border-radius: 999rem;
            transition:
                background-color var(--anim-dur) var(--anim-fn),
                box-shadow var(--anim-dur) var(--anim-fn);

            &:focus-visible {
                background-color: rgb(255 255 255/ .6);
            }
        }

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: max(0.125em, 2px);
            text-underline-offset: 0.125em;
        }
    }

    & input[type=file] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
}

.error-msg-container {
    padding: 1rem;
}

.error-msg {
    padding: .5rem;
    background: #ff6701;
    background-image: linear-gradient(0deg, rgb(0 0 0 /.2), rgb(255 255 255 /.2));
    background-blend-mode: overlay;
    border-radius: .25rem;
    font-family: monospace-ui, monospace;
    font-size: .75em;
    color: #052441;
    box-shadow:
        0 1px 3px rgb(0 0 0 /.2),
        inset 0 -1px 0.5px rgb(0 0 0 / .3),
        inset 0 1px 0.5px rgb(255 255 255 / .5);

    &:not(:last-of-type) {
        margin-block-end: .25em;
    }
}

.drop-icon {
    width: 6rem;
    height: 6rem;
    stroke-width: 1.5;
}