.generated-css {
    background: #d9c3b0;
}

.code-container {
    width: 100%;
    background-color: #2d2d2d;
    font-size: .75rem;
    position: relative;
    padding: inherit;
    border-radius: inherit;
    margin-block-end: 2rem;

    & div[class*="btn-icon"] {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
    }

    & div[class*="anim-icon"]>button {
        --path-length: 23;
        animation: anim 1s linear backwards !important;
    }
}



@keyframes anim {
    0% {
        background-color: #fff;
        stroke-dasharray: 0 var(--path-length);
    }

    60% {
        stroke-dasharray: var(--path-length) var(--path-length);
        color: #fff;
    }

    80% {
        background-color: var(--clr-secondary-500);
    }
}