.text-tools {
    --__border: 1px solid var(--clr-active-200);
    background-color: var(--clr-active-50);
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: space-evenly;
    align-items: center;
    font-size: .875rem;
    border-radius: 999rem;
    padding-inline: .75rem;
    margin-block-end: .5rem;
    margin-inline: .25rem;


    & input[type=range] {
        min-width: 8em;
    }


    & label span {
        min-width: max-content;
    }
}

.divider {
    display: block;
    width: 1px;
    height: 2rem;
    background: var(--clr-active-200);
}

.reset-btn {
    --__w: 1.5rem;

    & button {

        color: var(--clr-active);
        transition:
            rotate var(--anim-dur) var(--anim-fn),
            box-shadow var(--anim-dur) var(--anim-fn);

        & svg {
            width: calc(var(--__w));
            height: calc(var(--__w));
        }

        &:hover {
            background-color: transparent;
        }

        &:active {
            background-color: #fff;

            & svg {
                rotate: .5turn;
            }
        }
    }
}