.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-block: 2rem;
  padding-inline: 6rem;
  min-height: 100vh;

  &>*{
    margin-block: .5rem;
  }

  & section {
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
  }
}
